{% extends 'main.html' %}
{% block content%}
<h1>BLOG</h1>

<div>
    <a href="{% url 'create-article' %}">create-room</a>
    <ul>
        {% for article in articles%}
            <li>
                <div>@{{article.host.username}}</div>
                <div>{{article.id}} <a href="{%  url 'article' article.id  %}" >{{article.title}}</a></div>
                <div><a href="{% url 'update-article' article.id%}">Edit</a><a href="{% url 'delete-article' article.id%}">Delete</a></div>
                </li>    
        {% endfor%}
    </ul>

</div>


{% endblock content%}
